<body id="page-top" class="index">

    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <div class="logo">
                  <%= link_to image_tag('logo1.jpg') %>
                </div>

                <a class="navbar-brand page-scroll" href="#page-top"><img id="logo"src="img/logo1.jpg"</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#page-top">Home</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#team">Team</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
              <div class="intro-heading">Day Star Ministries</div>
                <div class="intro-lead-in"> ". . .to the prophetic word . . . pay heed . . .until the day star arises in your hearts."  2 Peter 1:19</div>
                <a class="page-scroll btn btn-xl">Find Out More</a>
            </div>
        </div>
    </header>

    <!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Vision & Ministry</h2>
                    <h3 class="section-subheading text-muted">An international traveling ministry to the Body of Christ.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                      <%= image_tag ('teaching1.jpg'), :class => 'img-responsive img-circle' %>
                    </span>
                    <h4 class="service-heading">Teaching and Equiping</h4>
                    <p class="text-muted">Through teaching from the Word of God and practical exercise:
                      Equipping believers by grace to function in Divinely imparted gifts for ministry to the world and building up the Body of Christ until we reach maturity In Christ. <br>Ephesians 4:11-16</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                      <%= image_tag ('weldonDorth1.jpg'), :class => 'img-responsive img-circle' %>
                    </span>
                    <h4 class="service-heading">Ministry Team lead by Weldon and Dorothy Pior</h4>
                    <p class="text-muted">We must recognize our calling and receive from others helping them grow and become skilled in their ministry. The revelation of His Infinite Grace is neccesary in order that His Eternal Purpose be realized.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                      <%= image_tag ('layingHands1.jpg'), :class => 'img-responsive img-circle' %>
                    </span>
                    <h4 class="service-heading">Healing The Sick</h4>
                    <p class="text-muted">We belive that we are called to heal the sick.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                </div>
            </div>
        </div>
    </section>
    <!-- About Section -->
    <section id="about" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">A little bit about your church/ministry</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                              <%= image_tag ('birthday1.jpg'), :class => 'img-responsive img-circle' %>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Philippines Future Trips 2017</h4>
                                    <h4 class="subheading">Text About Future Goals for the Ministry</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">More Explanation about future goals...Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                              <%= image_tag ('table1.jpg'), :class => 'img-responsive img-circle' %>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Meeting Dore 2015</h4>
                                    <h4 class="subheading"></h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Small story about your connection with them...Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                              <%= image_tag ('jeff1.jpg'), :class => 'img-responsive img-circle' %>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>First Philippines Trip? 2012?</h4>
                                    <h4 class="subheading">Planted Vision</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Little Blerb about first time to Philippines...Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                              <%= image_tag ('churchSide.png'), :class => 'img-circle img-responsive' %>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>July 1980</h4>
                                    <h4 class="subheading">New Beginnings</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Something about how the ministry Started...Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- Team Section -->
    <section id="team" class="bg-white">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our Amazing Team</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="team-member" id="weld">
                      <%= image_tag ('weld.jpg'), :class => 'img-circle img-responsive' %>
                        <h4>Weldon Pior</h4>
                        <p class="text-muted"></p>
                        <ul class="list-inline social-buttons">
                            <li><a href="https://twitter.com/WELDON_PIOR"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="https://www.facebook.com/weldon.pior"><i class="fa fa-facebook"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="team-member">
                      <%= image_tag ('doro1.jpg'), :class => 'img-circle img-responsive' %>
                        <h4>Dorothy Pior</h4>
                        <p class="text-muted"></p>
                        <ul class="list-inline social-buttons">
                            <li><a href="https://www.facebook.com/dorothy.pior"><i class="fa fa-facebook"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">Together they are a great team!... Verse...Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contact Us</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>

            <div class="row">
              <div class="col-lg-12">
                <%= form_for @welcome, url:{action:'create'}, :html => {} do |f| %>
                  <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                              <%= f.text_field :name, :class => 'form-control', placeholder: "Your Name *", :required => true %>
                              <p class="help-block text-danger"></p>

                            </div>
                            <div class="form-group">
                              <%= f.text_field :email, :class => 'form-control', placeholder: "Your Email *", :required => true %>
                              <p class="help-block text-danger"></p>

                            </div>
                            <div class="form-group">
                              <%= f.text_field :phone, :class => 'form-control', placeholder: "Your Phone *", :required => true %>
                              <p class="help-block text-danger"></p>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                              <%= f.text_area :message, :class => 'form-control', placeholder: "Your Message *", :required => true %>
                              <p class="help-block text-danger"></p>
                            </div>
                        </div>

                        <div class="clearfix"></div>
                        <div class="col-lg-12 text-center">
                          </br>
                          <%= f.button :submit, :class=> "btn btn-xl" %>
                      </div>
                  </div>
                <% end %>
                </div>
            </div>
      </div>
    </section>
